.tourPage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.tourPage::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/tour-assets/globe1.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.tourContent {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px); /* Optional: Adds blur to the content background */
  /*background: rgba(255, 255, 255, 0.7); Optional: Adds a semi-transparent background */
  padding: 20px;
  border-radius: 8px;
}


.videoLink {
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

